# Local Netlify folder
.netlify

# Dependencies
node_modules/

# Sensitive data
serviceAccountKey.json
firebase-config.js
secrets.json
.env
.env.local
node_modules/
dist/
auth.js

# Large files
*.mp4
*.png
!Icon-192.png
!hero-bg.png
!cinema+1.png
!cinema+2.png
!cinema+3.png

# Local databases
database.json
